<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

  <servlet>
    <description>获取资源列表</description>
    <display-name>getSourceList</display-name>
    <servlet-name>getSourceList</servlet-name>
    <servlet-class>com.sj.oidb.getSourceList</servlet-class>
  </servlet>
  <servlet>
    <description>获取资源详情</description>
    <display-name>getSourceInfo</display-name>
    <servlet-name>getSourceInfo</servlet-name>
    <servlet-class>com.sj.oidb.getSourceInfo</servlet-class>
  </servlet>
  <servlet>
    <description>添加资源</description>
    <display-name>addSource</display-name>
    <servlet-name>addSource</servlet-name>
    <servlet-class>com.sj.oidb.addSource</servlet-class>
  </servlet>
  <servlet>
    <description>修改资源</description>
    <display-name>modSource</display-name>
    <servlet-name>modSource</servlet-name>
    <servlet-class>com.sj.oidb.modSource</servlet-class>
  </servlet>
  <servlet>
    <description>删除资源</description>
    <display-name>delSource</display-name>
    <servlet-name>delSource</servlet-name>
    <servlet-class>com.sj.oidb.delSource</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>getSourceList</servlet-name>
    <url-pattern>/cgi-bin/getSourceList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getSourceInfo</servlet-name>
    <url-pattern>/cgi-bin/getSourceInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addSource</servlet-name>
    <url-pattern>/cgi-bin/addSource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modSource</servlet-name>
    <url-pattern>/cgi-bin/modSource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delSource</servlet-name>
    <url-pattern>/cgi-bin/delSource</url-pattern>
  </servlet-mapping>


</web-app>